.place__link {
    color: #FFFFFF;
    text-decoration-line: underline;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
}

.place__link:hover {
    transition: opacity 1s ease;
    opacity: 0.8;
}

@media (max-width: 425px) {
    .place__link  {
        margin: 0px 16px 0px 16px;
    }
}