.place {
    max-width: 984px;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0px auto 84px auto;
    grid-template-columns: minmax(auto,47%) minmax(min-content,1fr);
    grid-template-areas:
      "title website"
      "image text";  
}
.place:last-of-type {
    margin-bottom: 92px;
}

@media (max-width: 1024px) {
    .place  {
        column-gap: 32px;
        max-width: 928px;
    }
  }

  @media (max-width: 768px) {
    .place  {
        column-gap: 28px;
        max-width: 720px;
        margin: 0px auto 73px auto;
    }
    .place:last-of-type {
        margin-bottom: 90px;
    }
  }
  
  @media (max-width: 425px) {
    .place  {
        max-width: 320px;
        row-gap: 32px;
        margin: 0px auto 50px auto;
        grid-template-columns: minmax(min-content,max-content);
        grid-template-areas:
            "title"
            "website"
            "image" 
            "text";
    }
    .place:last-of-type {
        margin-bottom: 66px;
    }
  }