.footer {
    display: flex;
    padding: 0 48px 24px 48px;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    .footer {
        padding: 0 48px 24px 48px;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 0 24px 24px 24px;
        flex-wrap: wrap;
    }
}

@media (max-width: 525px) {
    .footer {
        padding: 0 0 24px 16px;
        flex-direction: column;
    }
}