.footer__rows {
    display: flex;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
}

@media (max-width: 525px) {
    .footer__rows {
        flex-direction: column;
        margin-bottom: 48px;
        justify-content: space-between;
    }
}